tr {
  cursor: pointer;
}

#dir-display-container {
  width: 100%;
}
#properties-display-container {
  width: 20%;
}
.logo {
  max-height: 4.375rem;
  width: 11rem;
}
.coverfy-text {
  color: #eb665b;
  font-weight: 800;
}
.padding-1 {
  padding: 1rem;
}
.folder-icon-color {
  color: #f6c23e !important;
}
.table-icon {
  font-size: 2rem;
}
.level-2 {
  padding-left: 1.2rem;
}
.fa-file-csv {
  color: rgb(58, 136, 58);
}
.fa-file-signature {
  color: rgb(85, 183, 228);
}
#root-li,
#root-li ul,
#root-li li {
  list-style: none;
  padding: 0.2rem 0.4rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#root-li {
  padding-right: 00.4rem;
}
#root-li li,
#root-li ul {
  padding-right: 0;
}
#root-li ul {
  border-top: 1px solid hsl(0, 0%, 51%);
}
ul span,
#root-li li {
  cursor: pointer;
}

.selected {
  position: relative;
}

.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgray;
  height: 28px;
  width: 100%;
  z-index: -1;
}

.crumbPath{
  cursor: pointer;
}

.crumbPath:hover{
  text-decoration: underline;
}

#createFolder {
  display: flex;
  flex-direction: column;
}

.form-container input[name="folderName"] {
  border: 0.1rem solid gray;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

#error-card {
  display: none;
  position: absolute;
  bottom: -20%;
  transition: bottom 1s ease-out;
  padding: 2rem 5rem;
  height: 6rem;
  right: 2rem;
}
#error-card.pop-up {
  display: initial;
  bottom: 4%;
}
.border-left-error {
  border-left: 0.25rem solid #da4d3b !important;
}
.error-text-color {
  color: #da4d3b;
}
.final-logo-heigth {
  height: 80px !important;
}
.preview-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(110, 112, 126, 0.698);
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
}
.preview-close-button {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: right;
}
.preview-close-button button {
  margin-right: 2rem;
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.87);
}
.preview-close-button i {
  font-size: 3rem;
}

#preview-audio,
#preview-video,
.preview-img-container {
  width: 100%;
  background-color: rgb(218, 218, 218);
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
#preview-audio {
  padding: 2rem 5rem;
}
#preview-video {
  width: 100%;
}
.preview-img-container {
  height: 80vh;
  padding: 1.5rem;
}
#preview-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.87);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.87);
}

.dropdown-item .fa-file-upload {
  color: #eb665b !important;
}
#upload_input {
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: 0px;
  left: -90px;
  cursor: pointer;
}
div.dropdown-item{
  cursor:pointer;
  width: 12rem;
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.8s;
  animation: slide-out-top 0.8s;
}
.scale-in-hor-left {
  -webkit-animation: scale-in-hor-left 0.5s ease-in both;
  animation: scale-in-hor-left 0.5s ease-in both;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
