.logo{
    width: 60px;
}

.coverfy-text{
    color:#EB665B;
    font-weight: 800;
}
.padding-1{
    padding: 1rem;
}
.folder-icon-color{
    color: #f6c23e !important;
}
.table-icon{
    font-size: 2rem;
}


